*{
    font-family: monospace;
}
:root {
    --font--color: #00B600;
    --font--color-alpha: #00b600c7;
    --background--color: #373737;
    --background--color-alpha: #373737af;
  }

#channelList{
    display: grid;
    grid-template-rows: repeat(15, min-content);
    grid-auto-flow: column;

    background-color: var(--background--color);
    color: var(--font--color);
    position: absolute;
    padding: 0px;
    left: 50px;
    top: 69px;
    height: 300px;
    width: 582px;
    font-size: 13px;
    list-style-type: none;

}

.chListItem{
margin: 0 13px 0 13px;
}