* {
    font-family: monospace;
}

:root {
    --font--color: #00B600;
    --font--color-alpha: #00b600c7;
    --background--color: #373737;
    --background--color-alpha: #373737af;
}

header{
    height: 85px;;
}
#headerForceOn{
    opacity: 1;
}
#headerNormal{
    opacity: 0;
    animation: headerClose 200ms;
}
#headerNormal:hover {
    opacity: 200;
    animation: headerOpen 200ms;
}



@keyframes headerOpen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes headerClose {
    from {
        opacity: 1;
    }
}
.translucent{
    opacity: .5;
}
#channelList {
    animation: headerOpen 100ms;
    display: grid;
    grid-template-rows: repeat(15, min-content);
    grid-auto-flow: column;
    background-color: var(--background--color);
    color: var(--font--color);
    position: absolute;
    margin: 0px;
    padding: 0px;
    left: 69px;
    top: 85px;
    height: 300px;
    width: 582px;
    font-size: 13px;
    list-style-type: none;
}

.menuBackdrop{
    background-color: var(--background--color);
    position: absolute;
    padding: 0px;
    left: 69px;
    top: 85px;
    height: 300px;
    width: 582px;
    font-size: 13px; 
}

.chListItem {
    margin: 0 13px 0 13px;
}

.chListItem:hover {
    cursor: pointer;
    background-color: var(--font--color);
    color: white;
}

#menuOptions {
    text-align: center;
    list-style-type: none;
    display: grid;
    grid-template-rows: repeat(1, min-content);
    grid-auto-flow: column;
    color: var(--font--color);
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 582px;
    left: 69px;
    top: 390px;
}

.menuOption {
    width: 190px;
    background-color: var(--background--color);
}

.menuOption:hover {
    cursor: pointer;
    background-color: var(--font--color);
    color: white;
}

.menuSelect {
    cursor: pointer;
    width: 190px;
    background-color: var(--font--color);
    color: white;
}


#videoFrame{
    z-index: -100;
    position: absolute;
    top:0px;
    left: 0px;
    width: 720px;
    height: 480px;
    background-color: rgb(4, 4, 215);
}